body {
  background-color: @color-swatch1;
  background-image:image('/images/texture-background.png');
  font-family:@font-swatch5-font-family;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}


a {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@color-swatch3;
  letter-spacing: @font-swatch5-letter-spacing;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0 0 10px;
}

h1 {
  font-family:@font-swatch1-font-family;
  font-weight: @font-swatch1-font-weight;
  color:@font-swatch1-color;
  line-height:@font-swatch1-line-height;
  letter-spacing: @font-swatch1-letter-spacing;
  font-size: @font-swatch1-font-size;
}

h2
{
  font-family:@font-swatch2-font-family;
  font-size: @font-swatch2-font-size;
  font-weight: @font-swatch2-font-weight;
  line-height:@font-swatch2-line-height;
  color: @font-swatch2-color;
  letter-spacing: @font-swatch2-letter-spacing;
}

h3
{
  font-family:@font-swatch3-font-family;
  font-size:@font-swatch3-font-size;
  font-weight: @font-swatch3-font-weight;
  color: @font-swatch3-color;
  line-height:@font-swatch3-line-height;
  letter-spacing: @font-swatch3-letter-spacing;
}

h4
{
  font-family:@font-swatch4-font-family;
  font-size:@font-swatch4-font-size;
  font-weight:@font-swatch4-font-weight;
  line-height:@font-swatch4-line-height;
  color:@font-swatch4-color;
  letter-spacing: @font-swatch4-letter-spacing;
}

p
{
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
}

ol, li, ul {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
}



/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 40px 0 20px 0;
}

body.edit .widget.navigation, body.edit .widget.extendednavigation {
 overflow: visible;
}




/* ===============================
   HEADER
   =============================== */

header {
  border-top: 5px solid @color-swatch3;
  border-bottom: 1px solid @color-swatch7;

}

.companyheader {
  display: block;
  padding: 30px 0 0 0;
}

/* COMPANY NAME */

.widget.companyname {
  width: 100%;
  text-align: center;
}

.companyname a:hover {
  text-decoration: none;
}

.widget.companyname a {
  font-family:@font-swatch10-font-family;
  font-weight: @font-swatch10-font-weight;
  color:@font-swatch10-color;
  line-height:@font-swatch10-line-height;
  letter-spacing: @font-swatch10-letter-spacing;
  font-size: @font-swatch10-font-size;
  padding: 10px 8px 8px;
}


/* LOGO */

.widget.logo {
  width: 100%;
  text-align: center;
}


/* ===============================
   MENU
   =============================== */

   .menu {
    background-image: image('/images/brown-circle.png');
    background-repeat: repeat-x;
    background-size: 10px;
    background-position: bottom;
    margin-bottom: 40px;
   }


.menu-name {
    font-family:@font-swatch1-font-family;
    font-weight: @font-swatch1-font-weight;
    color:@font-swatch1-color;
    line-height:@font-swatch1-line-height;
    letter-spacing: @font-swatch1-letter-spacing;
    font-size: @font-swatch1-font-size;
    display: inline-block;
    background-color: @color-swatch5;
    padding: 5px 20px;
      border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}   


.menu-items, .menu-section-items {
   -moz-column-count: 3;
   -moz-column-gap: 5em;
   -webkit-column-count: 3;
   -webkit-column-gap : 5em;
}

.menu-availability, .menu-section-description {
    color:@font-swatch5-color;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    letter-spacing: @font-swatch5-letter-spacing;
    padding: 10px 0;
}


.menu-item, .menu-section-item {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 2.5em;
    border-bottom: 1px dotted darken(@color-swatch7,20%);
}

.inner-item {
    display: inline-block;
}



.menu-item-description, .menu-section-item-description, .menu-item-nutritional-title, .menu-item-nutritional-props, .menu-section-item-dietary-props {
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}


.menu-item-nutritional-title {
}

.menu-item-nutritional-props .menu-item-nutritional-prop p {
    padding-bottom: 0;
}



.menu-item-promoted {
    border: 2px dotted @color-swatch3;
    padding: 2.3em 1em 0em 1em;
    margin-bottom: 2.5em;
}


.menu-item-promoted:after {
    content: "★";
    font-size: 2em;
    position: absolute;
    top: -17px;
    display: block;
    z-index: 9999999;
    right: 0;
    left: 0;
    color: @color-swatch3;
}

.menu-item-promoted h3 {
    width: auto;
}

.menu-item-image, .menu-section-item-image {
    border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  margin: 15px 0;
}



.menu-items,
.menu-item-prices,
.menu-sections,
.menu-section-items,
.menu-section-item-prices {
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu-items ul li {
  list-style: circle;
}




.menu-header, .menu-section-header {
    margin-bottom: 2em;
    text-align: center;
}



.menu-item-name, .menu-section-item-name {
    font-family:@font-swatch3-font-family;
    font-size:@font-swatch3-font-size;
    font-weight: @font-swatch3-font-weight;
    line-height:@font-swatch3-line-height;
    color: @font-swatch3-color;
    letter-spacing: @font-swatch3-letter-spacing;
    padding: 0;

}

.standard-price, .variant-price {
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color: @color-swatch6;
    letter-spacing: @font-swatch5-letter-spacing;
    padding: 0px;
}

.menu-section-name {
    font-family:@font-swatch2-font-family;
    font-size:@font-swatch2-font-size;
    font-weight: @font-swatch2-font-weight;
    line-height:@font-swatch2-line-height;
    color:@font-swatch2-color;
    letter-spacing: @font-swatch2-letter-spacing;
    background-image: image('/images/subsection-texture.png');
    background-repeat: repeat-x;
    padding-top: 3px;

}

.menu-item-description,
.menu-section-item-description {
    margin-bottom: 0.5em;
}


.dietary-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
}


.menu-items .menu-item .menu-item-nutritional-props .menu-item-nutritional-prop {
  list-style: disc;
  margin-left: 1.4em; 
  text-indent: -1.4em;
  padding-left: 1em;
}


.menu-section-item-nutritional-title, .menu-section-item-nutritional-props {
  list-style: none;
  color: @color-swatch6;
}

.menu-section-item-nutritional-props {
  padding: 0 0 10px;
}

.menu-section-item-nutritional-prop p {
  padding: 0;
  color: @color-swatch6;
}

.menu-section-item-dietary-props .dietary-icon {
    margin: 0 0.3em;
}

.vegetarian-icon {
  background-color: lighten(@color-swatch6,10%);
  width: 25px;
  height: 25px;
      border: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-image: image('/images/veggie.png');
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
}

.glutenFree-icon {
  background-image: image('/images/nuts.png');
  background-color: lighten(@color-swatch6,10%);
  width: 25px;
  height: 25px;
      border: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
}


.menu-note {
float: left;
width: 100%;
}

.menu-dietary-key {
float: left;
width: 100%;
margin: 5px 0;
}

.back-to-top {
  text-align: center;

}


.back-to-top a {
    font-family:@font-swatch3-font-family;
    font-size:@font-swatch3-font-size;
    font-weight: @font-swatch3-font-weight;
    line-height:@font-swatch3-line-height;
    color:@color-swatch3;
    letter-spacing: @font-swatch3-letter-spacing;
}


/* ===============================
  MENU - FOOTER 
   =============================== */

footer {
  padding: 2em 0;
  min-height: 150px;
  background-color: @color-swatch2;
  margin-top: 2em;
}

.menu-info {
border: 3px solid lighten(@color-swatch2,5%);
padding: 1em;
width: 100%;
display: inline-block;
text-align: center;
}


footer dt, footer dd {
    display: inline-block;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
    vertical-align: top;
}

footer dd {
margin: 0 5px -7px;
}

footer .widget.content {
width: 100%;
padding: 1em;
text-align: center;
border: 3px solid lighten(@color-swatch2,5%);
margin-top: -7px;
}



/* ===============================
   MENU NAVIGATION
   =============================== */


.top-nav {
  display: none;
}

.desktop-nav {
  padding:23px 0 0px 0;
}   

.navigation {
  text-align: center;
}

.navigation ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
}

.navigation ul li {
  padding: 0 12px;
  float: left;
}

.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.navigation ul li a:hover {
   color: @font-swatch6-color-hover;
   text-decoration: none;
 }






 





.widget.navigation {
}

.widget.navigation ul {
  padding: 0;
  margin: 20px 0 0;
}

.widget.navigation ul.align-center li
{
  text-align: center;
}

.widget.navigation ul.align-left li
{
  text-align: left;
}

.widget.navigation ul.align-right li
{
  text-align: right;
}

.widget.navigation ul li {
  float: left;
  display: block;
  padding-right: 40px;
}

.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.navigation ul li a:hover {
  text-decoration: none;
  color: @color-swatch3;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
    text-align: center;
    position: relative;
}


.widget.extendednavigation ul {
  padding: 0;
  margin: 0;
}

.widget.extendednavigation a.pull {
  display: none;
}

.widget.extendednavigation ul.align-center li
{
  text-align: center;
}

.widget.extendednavigation ul.align-left li
{
  text-align: left;
}

.widget.extendednavigation ul.align-right li
{
  text-align: right;
}

.widget.extendednavigation ul li {
  display: inline-block;
}


.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 16px 20px;
  margin: 0;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text:hover {
  color: @font-swatch6-color;
}

.widget.extendednavigation ul li.folder .text:hover {
   color: @font-swatch6-color-hover;
}


.widget.extendednavigation ul li a:hover, .widget.extendednavigation ul li.folder:hover {
  text-decoration: none;
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li.folder {
  background-image: image('/images/arrow-down.png');
  background-size: 22px 10px;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100%;
  cursor: pointer;
}


.widget.extendednavigation li > ul {
  display: none;
}

.widget.extendednavigation ul li:hover > ul {
  display: block;
  width: 186px;
  position: absolute;
  background-color: @color-swatch7;
  border-top: 2px solid @color-swatch3;
  z-index: 500;
  margin-top: 0;
  padding: 0;
}

.widget.extendednavigation ul li:hover > ul > li {
  display: block;
  width: 100%;
  text-align: center;
}

.widget.extendednavigation ul li:hover > ul li a {
  padding: 0;
}

.widget.extendednavigation ul li:hover > ul > li > a .text {
  margin-left: 0;
  color: @font-swatch6-color;
}

.widget.extendednavigation ul li:hover > ul > li > a:hover {
  color: @font-swatch6-color-hover;
}

/* EXTENDED NAVIGATION - INSIDE ZONE */

.main .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    float: none;
    text-align: left;
}

.main .widget.extendednavigation:before,
.main .widget.extendednavigation:after {
    content: " ";
    display: table;
  }
.main .widget.extendednavigation:after {
    clear: both;
}
.main .widget.extendednavigation {
    *zoom: 1;
}



/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  header {
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
  }

  .companyheader {
    display: block;
    padding: 30px 0 30px 0;
  }

  .main {
    padding: 10px 0;
  }

  /* MENU */


  .menu-items, .menu-section-items {
     -moz-column-count: 2;
     -moz-column-gap: 50px;
     -webkit-column-count: 2;
     -webkit-column-gap : 50px;
  }

  .menu-info, footer .widget.content {
    width: auto;
  }

  /* NAV */

  .desktop-nav {
    display: none;
  }

  .top-nav {
    display: block;
  }

  .widget.extendednavigation {
    width: 100%;
    padding: 0;
    border-top: none;
    border-bottom: none;
    height: 50px;
    z-index: 99999;
  }

  .widget .extendednavigation {
    display: block;
    float: left;
    width: 100%;
  }

  /* NAV ICON */

  .widget .extendednavigation a.pull {
    display: block;
    width: 100%;
    position: absolute;
    top: 1px;

  }

    .widget .extendednavigation a.pull:after {
    content:"";
    background: image('/images/nav-icon.png') no-repeat;
    background-position: center;
    width: 100%;
    height: 30px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: @color-swatch3;
    display: inline-block;
    position: absolute;
    border: none;
    -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%);
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%);
  }

  /* NAV */

  .widget .extendednavigation ul {
    width: 100%;
    display: none;
    padding: 4em 0 0;
    margin-bottom: 3em;
    border-bottom: 1px dotted darken(@color-swatch7,20%);
  }

  .widget .extendednavigation li {
    width: 100%;
    padding: 0;
  }

  .widget.extendednavigation ul li {
    border-bottom: 1px dotted darken(@color-swatch7,20%);
  }

    .widget.extendednavigation ul li:last-child {
    border-bottom: none;
  }

  .widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
    padding: 12px 0;
  }


  .widget.extendednavigation ul li > ul {
    display: none !important;
  }

  .widget.extendednavigation ul li:hover > ul {
    display: block!important;
    width: 100%;
  }

  .widget.extendednavigation ul li:hover > ul li {
    padding: 10px 0;
  }



  .widget.extendednavigation ul li:hover > ul li .text, .widget.extendednavigation ul li:hover > ul li.folder .text {

    background-image: image('/images/arrow-left-wh.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* FEATURE */


  .widget.feature {
    padding: 0;
  }

   .widget.feature .feature-bgimg {
    height: 320px;
   }

  .widget.feature .content {
    height: 320px;
  }

  .widget.responsiveslideshow .slideshow-image-list {
    height:200px;
  }

  .widget.gallery ul.gallery-widget li {
      width: 50%;
      padding-bottom: 50%;
  }


}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .widget.gallery li {
      width: 50%;
      /*padding-bottom: 50%;*/
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .widget.gallery li {
      width: 33.3%;
      /*padding-bottom: 33.3%;*/
   }
}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

    /* MENU */

    .menu-items, .menu-section-items {
       -moz-column-count: 1;
       -moz-column-gap: 50px;
       -webkit-column-count: 1;
       -webkit-column-gap : 50px;
}

.menu-item, .menu-section-item {
margin-bottom: 1.5em;
padding-bottom: 1.5em;
text-align: center;
}



  /* COMPANY HEADER */

  .widget.companyheader .company-name h1 {
    font-size:bkscale(@font-swatch1-font-size, 0.8)
  }


  /* UL ALIGN RIGHT */

  .widget.extendednavigation ul.align-right li.folder {
    background-position: 12px center;
    padding-right: 0;
  }

  /* FEATURE */

  .widget.feature {
    padding: 0;
  }

  .widget.feature .feature-bgimg {
    height: 220px; /* should be in media query*/
   }

  .widget.feature .content {
    height: 220px;
  }

  .widget.feature .content .spare {
    padding: 20px;
  }

  .widget.feature h2 {
    margin-bottom: 20px;
  }


  /* SLIDESHOW */
  .widget.responsiveslideshow .title {
    padding-bottom:7px;
  }

  .widget.responsiveslideshow .description {
    display:none;
  }


    /* CLICK TO CALL */

    .widget.clicktocall a {
        background-image: image('/images/ic-call.svg');
        background-size: 7px;
        background-position: 14px center;
        background-repeat: no-repeat;
        background-color: @font-swatch7-background-color;

        font-family: @font-swatch7-font-family;
        font-size: .75em;
        font-weight: @font-swatch7-font-weight;
        line-height: @font-swatch7-line-height;
        color: @font-swatch7-color;
        letter-spacing: @font-swatch7-letter-spacing;
        background-color: @font-swatch7-background-color;
        padding: 12px 12px 12px 34px;
        border: 1px solid darken(@color-swatch3,5%);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2);
        text-decoration: none;
        text-shadow: 0 1px 0px rgba(0,0,0,0.2);
    }

    .widget.clicktocall a:hover {
        background-color: @font-swatch7-background-color-hover;
        cursor: pointer;
    }

    .widget.clicktocall a:active {
        box-shadow: inset 0 2px 3px rgba(0,0,0,0.1)
    }

   /* GALLERY */

  .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
  max-height: 150px;
  }

  .widget.gallery p
  {
    padding: 10px;
  }

  /* Smartphone view: 1 tile */
  .widget.gallery li {
      width: 100%;
      padding-bottom: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

#featuregallery .widget.gallery  .gallery-widget {
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

#featuregallery .widget.gallery ul {
    background-color:transparent;
}

#featuregallery .widget.gallery .gallery-widget li {
  display: block;
  float: left;
  width: 31.3%;
    padding:1%;
  opacity: 0;
}

#featuregallery .widget.gallery .title,
#featuregallery .widget.gallery .description {
    display:none;
}

#featuregallery .widget.gallery li span.inner {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    overflow:visible;
    background:none!important;
}

#featuregallery .widget.gallery li span.inner img  {
    display:inline;
}

#featuregallery .widget.gallery .gallery-widget li.shown,
.no-js #featuregallery .widget.gallery  .gallery-widget li,
.no-cssanimations #featuregallery .gallery-widget li {
  opacity: 1;
}

#featuregallery .widget.gallery .gallery-widget li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

/* Effect 2: Move Up */
#featuregallery .widget.gallery  .gallery-widget li.animate {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  -moz-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
  to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  to { transform: translateY(0); opacity: 1; }
}

@media screen and (max-width: 900px) {
  #featuregallery .widget.gallery  .gallery-widget li {
    width: 47.5%;
  }
}

@media screen and (max-width: 400px) {
  #featuregallery .widget.gallery .gallery-widget li {
    width: 96%;
  }
}
